.cart {
	max-width: 700px;
	margin: 3rem auto 0 auto;
	padding: 2rem;
}
.menuBtn {
	margin-top: 2rem;
	margin-inline: auto;
	background: #222;
	color: #fff;
	padding: 0.75rem 2rem;
	border-radius: 4px;
	text-decoration: none;
	font-size: 1.2rem;
	transition: background 0.2s;
	&:hover {
		background: #444;
	}
}
.items {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-bottom: 2rem;
}
